body {
    background-color: #05c46b;
    color:black;
    font-family: Verdana;
    font-size: 100%;
    text-align: center;
}
/* Задание 2 :

1.    Задайте по умолчанию следующие параметры для всех абзацев (переопределив, тег <p> и псевдоклассы тега <p>):

выравнивание абзаца
отступ красной строки
размер и цвет первой буквы*/
p {
    /*Выравнивает текст по ширине*/
    text-align: justify;
    /*Отступ в первой строке абзаца*/
    text-indent: 30px; 
}
p::first-letter{
    font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
    font-size: 200%; /* Размер шрифта первого символа */
    color: red; /* Красный цвет текста */
}
#zadanie {
    color: bisque;
        align-self: start;
}
ul{
    list-style: none;
}


/* Стиль формы (Color, Padding, Shadow) */
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Стиль form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Стиль form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Стиль Кнопки */
button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
}
/*Списки*/
ul{
    text-align: left;
    padding-left: 40px;
   margin-top: 1em;
   margin-bottom: 1em;
   list-style-type: disc;
}
/*Ссылки*/ 
a:active {
    box-shadow: none;
    top: 5px;
  }
/* Обычной ссылка */ 
a {
    background-color: rgb(162, 26, 241);
    box-shadow: 0 1px 0 rgb(249, 250, 244);
    color: rgb(248, 248, 247); /* Цвет обычной ссылки */ 
    padding: 5px;
    position: relative;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    text-transform: uppercase;
  }
  /* Посещенная ссылка */ 
   a:visited {
    color: #191a02; /* Цвет посещённой ссылки */
   } 
   /* Ссылка при наведении курсора*/ 
  a:hover {
    background-color: #12abf1; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
  }